.want-site {
  text-align: center;
  margin-top: 186px;
  padding-top: 100px;
  background-color: #EEEFF1;
}

.sub-heading-want-site {
  margin-bottom: 50px;
}

.form {
  margin-top: 65px;
  padding-bottom: 100px;
}

.name-email {
  display: inline-block;
  margin-bottom: 20px;
  padding: 17px 89px 18px 20px;
}

.email {
  margin-left: 30px;
}

.name-email,
.message {
  border-color: transparent;
}

.message {
  padding: 17px 430px 143px 20px;
}

.btn {
  min-width: 190px;
  min-height: 55px;
  padding: 20px;
  margin-top: 50px;
  border-color: transparent;
  font-size: 14px;
  color: #ffff;
}

@media screen and (max-width: 1399px) {
  .name-email {
    margin: 0 auto;
    margin-bottom: 10px;
  }
}