.my-skills-heading {
  font-size: 2rem;
  font-weight: 500;
  margin: 200px 192px 50px 0px;
}

.skill-name {
  position: relative;
  font-size: 1rem;
  color: #727272;
  padding-bottom: 55px;
}

.skill-name::after {
  content: '';
  position: absolute;
  bottom: 20px;
  left: 0;
  border-bottom: 3px solid #34547A;
  box-shadow: 90px 0px #C4C4C4;
  width: 350px;
}

.img-face-position {
  position: relative;
}

.img-face-container {
  position: absolute;
  top: 100px;
  right: 0;
  max-height: 450px;
  max-width: 550px;
}

.img-face {
  display: block;
  background-size: cover;
}

@media screen and (max-width: 999px) {
  .img-face {
    display: none;
  }
}